<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.ArticleDao">
    <resultMap id="articleList1" type="Article">
        <id property="atcid" column="ATCID"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <collection property="articlecommts" ofType="ArticleCommt" resultMap="com.dao.ArticleCommtDao.articleCommtList2"/>
    </resultMap>

</mapper>